body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 100%);
}

.navbar-brand {
  color: #000000 !important;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-link {
  color: #000000 !important;
  margin-right: 1em;
  font-size: 1.2em;
}

.nav-link:hover {
  color: #00a2ff !important;
}

.dropdown-menu {
  background-color: #ffffff;
  border-radius: 0;
  border: none;
}

.dropdown-item {
  color: #000;
  font-size: 1em;
}

.dropdown-item:hover {
  background-color: #00a2ff;
  color: #fff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #fff;
}

.search-bar {
  position: relative;
  margin-left: 20px;
}

.search-input {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 15px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  width: 250px;
  border-color: #00a2ff;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.navbar-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-icons .nav-icon {
  color: #000000;
  font-size: 1em;
  margin-left: 20px;
  transition: color 0.3s, transform 0.3s;
}

.navbar-icons .nav-icon:hover {
  color: #00a2ff;
  transform: scale(1.1);
}

/* Media Queries */

/* For tablets and smaller devices */
@media (max-width: 768px) {
  .nav-link {
      font-size: 1em;
      margin-right: 0.5em;
  }

  .navbar-brand {
      font-size: 1.2em;
  }

  .search-bar {
      margin-left: 10px;
  }

  .search-input {
      width: 150px;
  }

  .navbar-icons .nav-icon {
      font-size: 0.9em;
      margin-left: 10px;
  }
}

/* For mobile devices */
@media (max-width: 576px) {
  .nav-link {
      display: block;
      margin: 0.5em 0;
      font-size: 0.9em;
  }

  .navbar-brand {
      font-size: 1em;
  }

  .search-input {
      width: 100px;
  }

  .navbar-icons {
      display: none;
  }

  .navbar-toggler {
      display: block;
  }
}

footer {
  background: linear-gradient(to bottom, #000000, #444444);
  color: white;
}
footer a {
  color: #ffffff;
  transition: color 0.2s;
}
footer a:hover {
  color: #dddddd;
}
footer .form-control {
  border-radius: 0;
}
footer .btn-primary {
  background-color: #ff6600;
  border-color: #ff6600;
  transition: background-color 0.2s, border-color 0.2s;
}
footer .btn-primary:hover {
  background-color: #ff4500;
  border-color: #ff4500;
}

.newsletter-banner {
  margin-bottom: 0; 
  margin-top: 100px;
}

.newsletter-banner .newsletter-background {
  background: url('https://img.freepik.com/fotos-premium/fundo-preto-moderno-futurista-abstrato-projeto-de-banner-grafico-de-tecnologia-dinamica-fundo-corporativo-vetorial_181182-738.jpg?w=1800') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 80px 0;
  text-align: center;
}

.newsletter-banner h5 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.newsletter-banner p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.newsletter-banner input.newsletter-input {
  border-radius: 5px;
  border: none;
  padding: 15px 20px;
  width: 300px;
  margin-right: 10px;
}

.newsletter-banner button.newsletter-btn {
  border-radius: 5px;
  background-color: #ff6600;
  border-color: #ff6600;
  padding: 15px 20px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
}

.newsletter-banner button.newsletter-btn:hover {
  background-color: #ff4500;
  border-color: #ff4500;
}

.product-cards .card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.product-cards .card-img-container {
  position: relative;
  overflow: hidden;
}

.product-cards .card-img-container::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.product-cards .card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-cards .card:hover .card-img-top {
  transform: scale(1.1);
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.card-text {
  font-size: 0.9rem;
  color: #777;
  text-align: center;
}

.card-footer {
  background: none;
  border-top: none;
  text-align: center;
}

.card-footer .btn {
  background-image: linear-gradient(45deg, #007bff, #00d4ff);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-image 0.3s ease, transform 0.3s ease;
}

.card-footer .btn:hover {
  background-image: linear-gradient(45deg, #0056b3, #00a3cc);
  transform: scale(1.05);
}

.card-footer .btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}